@import "tailwindcss";

:root {
    --font-body:
        IBM Plex Mono, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-mono: IBM Plex Mono, monospace;
    --color-bg-0: rgb(254, 254, 254);
    --color-bg-1: rgb(232, 229, 229);
    --color-theme-1: #FF9756;
    --color-theme-2: #C8B5F7;
    --color-theme-3: #FED1E4;
    --color-text-0: rgba(26, 26, 26, 0.7);
    --color-text-1: rgba(26, 26, 26, 0.7);
    --dot-spacing: 1.5rem;
    font-family: var(--font-body);
    color: var(--color-text-0);
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--color-bg-0);
    background-attachment: fixed;
    background-image: radial-gradient(
            circle,
            rgba(0, 0, 0, 0.15) 1px,
            transparent 1px
    );
    background-size: var(--dot-spacing) var(--dot-spacing);
    background-position: center;
}

p {
    font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
}

h2 {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.5rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 2rem 0 0.5rem 0;
}

.text-column {
    display: flex;
    max-width: 48rem;
    flex: 0.6;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

input,
button {
    font-size: inherit;
    font-family: inherit;
}

button:focus:not(:focus-visible) {
    outline: none;
}

@media (min-width: 720px) {
    h1 {
        font-size: 2.4rem;
    }
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
